[Unit]
Description=Checks kimsufi availability

[Service]
Type=oneshot
ExecStart={{ ansible_user_dir }}/bin/poetry run python kimbot/avail.py -C FR 2201sk01
WorkingDirectory={{ kimbot_dest }}
User={{ ansible_user_id }}
Restart=no
